<div class="container_page">
    <app-tools class="tools"></app-tools>
    <div style="display: flex; width: 70%; flex-direction: column;">
        <div style="display: flex; padding: 30px 0;">
        Comment faire pour réduire son empreinte carbone à Noël ?

        Tout d’abord, décortiquons, avec l’Ademe(1), qu’est-ce qui pèse le plus sur l’environnement à  Noël. 
        Les experts de l’Ademe ont analysé les émissions de gaz à effet de serre (GES) de chaque « élément Noël » et voici leurs conclusions.
        Les cadeaux sont de loin le poste le plus émetteur de GES : 57 % de l’empreinte carbone de Noël. 
        Suivent les déplacements, qui représentent 25 % du total, puis l’alimentation avec 15 %. 
        Viennent, plus loin, les décorations (2 %) et les déchets, 1 %.
        </div>

        <div style="display: flex; padding: 30px 0;">
        Des cadeaux plus écolo

        D’après l’Ademe, 300 millions de cadeaux sont offerts à Noël. 
        1 million d’entre eux seraient directement jetés ! 
        Les cadeaux les moins écolo sont les bijoux et les objets électroniques. 
        S’ils représentent 4 % des cadeaux, leur poids est équivalent à 30 % des émissions de GES des cadeaux. 
        On évite donc d’offrir ces cadeaux-là pour Noël.
        Et si cette année, on cassait le tabou du cadeau neuf et on achetait reconditionné ? Direction les ressourceries, Emmaüs, magasins d’occasions ou sites de vente d’objets reconditionnés et on achète des cadeaux d’occasion. L’empreinte carbone des objets reconditionnés est 8 fois plus légère que pour des objets neufs !

        Les enfants ne percevront aucune différence. Quant aux adultes, parfois un peu réticents, cela peut être intéressant de glisser une petite carte pour expliquer son geste.

        Avec votre famille, vous pouvez aussi réduire le nombre de cadeaux offerts à Noël en adoptant le principe du Secret Santa (Père Noël secret) et offrir un beau cadeau à la personne que vous aurez tirée au sort !
        </div>

        <div style="display: flex; padding: 30px 0;">
        Des transports plus légers

        Tout le monde n’a pas la chance d’avoir un traîneau tiré par des rennes ! 
        Pendant les vacances de Noël, un Français parcourt en moyenne 198 km, toujours d’après l’Ademe. 
        94 % de ces déplacements sont réalisés en voiture, 2 % en avion et 4 % en train.

        Pour aller rendre visite à la famille, on évite donc la voiture (et l’avion aussi bien entendu !) 
        On privilégie les trajets en train, bien moins impactants sur l’environnement. 
        C’est aussi l’occasion de réduire la montagne de cadeaux à offrir et à recevoir, puisque vous aurez moins de place pour les transporter.
        </div>

        <div style="display: flex; padding: 30px 0;">
        Repas de Noël : ne soyez pas dinde

        On essaie de revoir le menu pour proposer des repas de fête qui respectent la planète. Il existe bien des options : réduisez la viande, plus grand émetteur de GES sur notre table, ou privilégiez la volaille. Côté crustacés, évitez les crevettes (qui viennent généralement de très loin) et privilégiez les huîtres locales. De même, faites l’impasse sur le saumon au profit de la truite, que vous pouvez trouver près de chez vous ! Et n’hésitez pas à proposer des alternatives végétariennes : terrines végétales, risottos… Pensez à des aliments végétaux de fêtes, truffes, champignons ou châtaignes, qui égayent nos assiettes !

        Pendant les fêtes, 3 kilos de nourriture sont jetés en moyenne par ménage (2) ! On essaie de réduire le gaspillage alimentaire en proposant des portions plus petites ou en upcyclant les restes pour les lendemains de fêtes. Que pensez-vous d’un bouillon détox avec cette carcasse de volaille pour le 26 décembre ?
        </div>

        <div style="display: flex; padding: 30px 0;">
        Décoration, sapin, des idées plus écolo

        Le sapin est responsable de 52 % des émissions de gaz à effet de serre des décorations. Sapin artificiel ou naturel, il n’y a pas de bon choix écolo. Alors cette année, fabriquez vous-même votre sapin avec des matériaux de récupération ! Un sapin design  et d’inspiration scandinave sera du plus bel effet chez vous.
        sapin ecolo

        Faites vous-même votre sapin de Noël ©Tatyana Soares

        Côté guirlandes lumineuses, n’en faites pas trop, surtout en ces temps de pénurie énergétique ! Mais, si elle est composée de LED, et allumée à des intervalles raisonnables (pas toute la nuit, par exemple…) on ne va pas s’en priver, l’impact sur l’environnement reste minime.

        Pour le sapin, on privilégie les décorations naturelles (pommes de pin, pommes, biscuits…) ou faites maison avec des matériaux de récupération. On peut également lorgner du côté des ressourceries, qui proposent de nombreuses décos de Noël d’occasion, et bien sûr réutiliser ses décorations d’une année sur l’autre.
        </div>

        <div style="display: flex; padding: 30px 0;">
        Déchets : le revers de la médaille pendant les fêtes

        Même si les déchets ne représentent qu’1 % des émissions de GES pendant Noël, on s’applique à les réduire pour alléger sa poubelle. 2.000 tonnes de papiers-cadeaux sont consommés tous les ans à Noël(3). On s’applique à réduire ce poste-là, en privilégiant les emballages cadeaux en tissu, les sacs cadeaux, ou les beaux papiers de journaux ou de magazines.

        Et on ne fait pas l’impasse sur le tri des déchets pendant les vacances de Noël : les bouteilles à la benne à verre, les emballages dans la poubelle jaune, les emballages volumineux à la déchetterie, et les déchets alimentaires au compost. Une fois que les fêtes sont finies, on recycle son sapin en déchetterie ou dans l’un des nombreux points d’apport proposés par les municipalités après Noël. Joyeuses fêtes écolo !
        </div>
    </div>
</div>