<div class="container_page">
    <app-tools class="tools"></app-tools>
    <div style="display: flex; flex-direction: column; width: 70%;">
        <div>
            <h1>
                Far Cry 5, un jeu pour sensibiliser à l'écologie
            </h1>
        </div>

        <img src="assets/montana-1.jpg">
        <div>
            <h3>
                Far Cry 5 est un jeu d'aventure développé par Ubisoft qui se déroule dans le Montana rural aux États-Unis. Au delà d'être une expérience ludique, le jeu aborde des thématiques environnementales importantes.
            </h3>
        </div>
        <div>
            <h2>
                Immersion dans un décor naturel préservé
            </h2>
        </div>
        <img src="assets/montana.jpg">
        <div>
            <h4>
                Le joueur évolue librement dans une vaste carte recréant avec réalisme les paysages montagneux et les étendues sauvages du Montana. Forêts, lacs, rivières et faune locale sont modélisés avec précision pour plonger le joueur au cœur de cet environnement naturel encore préservé.
            </h4>
        </div>
        <div>
            <h2>
                Sensibilisation aux enjeux écologiques
            </h2>
        </div>

        <img src="assets/pumkin.png">
        <div>
            <h4>
                Au fil de l'aventure, le joueur prend conscience des menaces qui pèsent sur cet écosystème fragile : exploitation abusive des ressources, braconnage, pollution... Le scénario permet d'aborder des problématiques concrètes comme la protection de la faune ou la préservation des zones naturelles face aux intérêts économiques.
            </h4>
        </div>
        <div>
            <h2>
                Impact auprès d'une large audience
            </h2>
        </div>
        <div>
            <h4>
                En s'appuyant sur le potentiel d'immersion d'un jeu à gros budget, Far Cry 5 vise à sensibiliser les millions de joueurs qui y seront exposés. Au delà du divertissement, l'objectif est de leur faire découvrir certains enjeux environnementaux de manière ludique et engageante, afin de susciter une prise de conscience plus large.
            </h4>
        </div>
        <div>
            <h3>
                En résumé, au travers cette expérience vidéoludique ambitieuse, Ubisoft montre qu'il est possible d'allier divertissement et sensibilisation à des thématiques écologiques essentielles pour notre futur commun.
            </h3>
        </div>

    </div>
    







</div>